[submodule "hisat-3n"]
	path = hisat-3n
	url = git@github.com:asc-rna/hisat-3n.git

[submodule "m5C-UBSseq"]
	path = m5C-UBSseq
	url = git@github.com:y9c/m5C-UBSseq.git
[submodule "Umicollapse"]
	path = Umicollapse
	url = git@github.com:asc-rna/Umicollapse.git
