[submodule "hisat-3n"]
	path = hisat-3n
	url = git@github.com:asc-rna/hisat-3n.git
[submodule "samtools"]
	path = samtools
	url = git@github.com:samtools/samtools.git
[submodule "htslib"]
	path = htslib
	url = git@github.com:samtools/htslib.git
